@mixin hover-card-with-shadow {
  border-radius: 5px;
  box-shadow: 0 3px 30px rgba($color-grey-dark, 0.1);
  transition: all 1s;

  &:hover {
    transform: translateY(-3%);
    box-shadow: 0 1px 10px rgba($color-grey-dark, 0.05);
  }
}
