@mixin hover-card-with-shadow {
  border-radius: 5px;
  box-shadow: 0 12px 5px rgba($color-grey-light-2, 0.5);
  transition: all 1s;

  &:hover {
    transform: translateY(-2%);
    box-shadow: 0 9px 15px rgba($color-grey-light-2, 0.05);
  }
}
