// Whites and Greys
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

// Placeholder Palette 1 (COOLORS)
$amber: #ffbe0bff;
$orange-pantone: #fb5607ff;
$rose: #ff006eff;
$blue-violet: #8338ecff;
$azure: #3a86ffff;

// Placeholder Palette 2 (COOLORS)
$charcoal: #264653ff;
$persian-green: #2a9d8fff;
$saffron: #e9c46aff;
$sandy-brown: #f4a261ff;
$burnt-sienna: #e76f51ff;

// Font
$default-font-size: 1.6rem;
$font-size-medium-1: 2.5rem;
$font-size-medium: 3.2rem;
$font-size-large: 6rem;
$font-size-huge: 9rem;

// Margins
$margin-small: 1rem;
$margin-medium: 3rem;
$margin-large: 6rem;
