.features {
  padding: 15rem;
  padding-top: 8rem;
  background-color: $color-grey-light-2;
  text-align: center;
  font-size: $font-size-medium;

  &__title {
    color: $amber;
    font-size: $font-size-medium;
    margin-bottom: 8rem;
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4rem;
    row-gap: 4rem;

    &--item {
      height: 40rem;
      padding: 5rem;
      border-radius: 5px;
      background-color: $color-white;
      text-align: center;
      // Testing mixin
      @include hover-card-with-shadow;
      // set initial state before scrolling transition
      opacity: 0;
      transform: translateY(10%);
      transition: all 1.5s;
    }
  }
}

.fade-in {
  // scrolling transition
  transform: translateX(0);
  opacity: 1;
}

.turn-red {
  background-color: orangered;
  opacity: 1;
}
