.hero {
  height: 90vh;
  display: flex;
  gap: 5rem;

  &__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1; // allow grow or shrink to fill space
    padding: 1rem 0 1rem 3rem;
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;

    &--link {
      transition: all 0.5s;

      &:link,
      &:visited {
        font-size: $default-font-size;
        font-weight: 700;
        cursor: pointer;
        text-decoration: none;
        color: $color-black;
      }
      &:hover,
      &:active {
        color: $orange-pantone;
      }
    }

    &--img {
      height: 50%;
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
  }

  &__heading-primary {
    text-transform: uppercase;
    margin-bottom: $margin-small;
    font-weight: 700;

    &--main {
      font-size: $font-size-huge;
      color: $orange-pantone;
      display: block;
      margin-bottom: $margin-medium;
    }

    &--sub {
      font-size: $font-size-large;
      display: block;
    }
  }

  &__heading-secondary {
    color: $color-grey-dark;
    font-size: $font-size-medium;
    font-style: italic;
  }

  &__detail {
    width: 55%;
    font-size: $default-font-size;
    color: $color-grey-dark;
  }

  &__right {
    width: 50%;
    background-image: linear-gradient(
        to right bottom,
        rgba($blue-violet, 0.4),
        rgba($azure, 0.7)
      ),
      url(../../img/girl_reader.png);
    background-size: cover; // scale to fit on resize
    background-position: top; // area not to crop on resize

    animation: slide-fade-in 1s;
  }
}
